@media (max-width: 15000px) {
  html, body{
    background-color: #808080;
  }

  .content-wrapper{
    background-image: none;
    background-color: #808080;
  }


  .payment-field{
    background-color: #f9f9f9;
    margin-top: 5vh;
    padding: 2%;
    height: 84vh;
  }

  .submit-payment-button, .cancel-button{
    margin-top: 2vh;
    height: 50px;
    width: 150px;
    float: right;
  }

  .submit-payment-button{
    margin-left: 1%;
  }

  .redText{
    color: red;
  }

  /**
   * The CSS shown here will not be introduced in the Quickstart guide, but shows
   * how you can use CSS to style your Element's container.
   */
  .StripeElement {
    background-color: white;
    height: 40px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }

  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }

  .StripeElement--invalid {
    border-color: #fa755a;
  }

  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }

}

@media (max-width: 15000px) {
  .payment-field{
    height: 100vh;
    width: 100vw;
  }

  .nav-wrapper{
    position: relative;
  }

  #email_payment{
    width: 80vw;
  }
}
